.popup{
   width: 38%;
   height: 70vh;
   background-color: #F1F7FF;
   border-radius: 50px;
   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  max-height: calc(80vh - 60px);
  flex-shrink: 0;
  display: grid;
  scrollbar-color: orange;
  scrollbar-width: thin;
  
}

.popup .button{
   width: 50%;
   background: linear-gradient(90deg, #1f7eeac9 0%, #c320c0b1 100%);
   height: 50px;
   margin-bottom: 20px;
   flex-shrink: 0;
   /* margin: 0auto; */
}

.popup img{
   position: absolute;
   top: 40px;
   right: 40px;
   /* transform: translate(400%, -28vh); */
   cursor: pointer;
   z-index: 6;
}

.popup-overlay{
   position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 5;
}

.popup input{
   margin-bottom: 25px;
   flex-shrink: 0;
}

.popup-content{
   margin-bottom: 20%;
  margin-top: 20%;
  height: calc(70vh - 40%);
  display: flex;
   flex-direction: column;
   align-items: center;
   display: none;
   overflow-y: auto;
}

form{
   width: 70%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.popup-content.main{
   justify-content: center;
}

.placeholder-container {
   position: relative;
   width: 100%;
   /* width: 60%; */
}

.placeholder-container input {
   background-color: #F1F7FF;
   border: 1px solid #79747E;
   /* box-sizing: border-box; */
   color: #000;
   font-size: 16px;
   line-height: 16px;  
   height: 56px;
   outline: 0;
   width: 100%;
   border-radius: 3px;
   padding-left: 5%;
}
.placeholder-container label {
   color: #000;
   background-color: #F1F7FF;
   font-size: 16px;
   font-family: Bellota Text;
   font-weight: 400;
   line-height: 16px;
   padding: 5px 10px;
   pointer-events: none;
   position: absolute;
   transition: all 200ms;
   top: 15px;
   left: 8px;
}

.placeholder-container input:focus{
   border: 2px solid #1F7DEA;
}

.placeholder-container input:focus + label,
.placeholder-container input:not(:placeholder-shown) + label{
   top: -10px;
   left: 10px;
   font-size: 11px; 
   background-color: #F1F7FF;
   padding: 2px 6px;
}

.popup-content h2{
   font-size: 32px;
   font-family: Bellota Text;
   margin-bottom: 80px;
}

.popup-content::-webkit-scrollbar {
   width: 10px;
   background-color: #f9f9fd;
 }
 
 .popup-content::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background-color: #1F7DEA;
 }
 
 .popup-content::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
   border-radius: 10px;
   background-color: #f9f9fd;
 }

 @media (max-width: 430px){
   .popup{
      width: 90%;
      max-height: 90%;
      height: 90%;
   }
   .popup-content{
      height: auto;
   }
   .popup-content h2{
      font-size: 23px;
      margin-top: 40px;
   }
   .popup-content .button{
      width: fit-content;
   }
   .popup-content.main .button{
      width: 70%;
   }
 }