.menu{
   position: absolute;
   border-radius: 50px;
   border: 3px solid #1F7DEA;
   position: absolute;
   width: 70%;
   margin-left: 15%;
   margin-right: 15%;
   display: flex;
   justify-content: space-around;
   vertical-align: middle;
   height: 70px;
   font-family: Inter;
}

.header{
   height: 25vh;
}

.menu li{
   height: 70px;
   display: flex;
   align-items: center;
}

a{
   text-decoration: none;
}

a.active{
   color: inherit;
}

a:visited{
   color: inherit;
}

.burger-checkbox {
   position: absolute;
   visibility: hidden;
 }
 .burger {
   cursor: pointer;
   display: block;
   position: relative;
   border: none;
   background: transparent;
   width: 40px;
   height: 26px;
   margin: 12px auto;
 }
 .burger::before,
 .burger::after {
   content: '';
   left: 0;
   position: absolute;
   display: block;
   width: 100%;
   height: 4px;
   border-radius: 10px;
   background: #000;
 }
 .burger::before {
   top: 0;
   box-shadow: 0 11px 0 #000;
   transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
 }
 .burger::after {
   bottom: 0;
   transition: bottom .3s .15s, transform .3s;
 }
 .burger-checkbox:checked + .burger::before {
   top: 11px;
   transform: rotate(45deg);
   box-shadow: 0 6px 0 rgba(0,0,0,0);
   transition: box-shadow .15s, top .3s, transform .3s .15s;
 }
 .burger-checkbox:checked + .burger::after {
   bottom: 11px;
   transform: rotate(-45deg);
   transition: bottom .3s, transform .3s .15s;
 }

 .burger_button{
   background-color: #1F7DEA;
   width: 50px;
   height: 50px;
   padding: 5px;
   border-radius: 50%;
   display: none;
   z-index: 4;
   margin-top: 15px;
   margin-left: 15px;
 }

 @media screen and (max-width: 760px) and (min-width: 0px) {
   .burger_button{
      display: block;
      position: absolute;
   }
   .menu {
      top: 0;
      left: 0;
      position: absolute;
      display: grid;
      padding: 42px 0;
      margin: 0;
      background: #D5E7FC;
      list-style-type: none;
      transform: translateX(-100%);
      transition: .3s;
      width: 90%;
      height: fit-content;
      z-index: 3;
    }
    .menu li {
      display: block;
      padding: 8px;
      color: black;
      font-size: 20px;
      text-align: left;
      text-decoration: none;
      height: fit-content;
      margin-left: 5%;
    }
    .menu li:hover {
      background: rgba(255,255,255,.2)
    }
}