body{
   font-family: Inter;
   margin: 0;
}

main{
   margin: 0px 200px 0px 200px !important;
}

table{
   width: 100%;
   border-spacing: 5px 15px;
}

h1{
   text-align: center;
   background: linear-gradient(90deg, rgba(31,125,234,1) 0%, rgba(195,32,193,1) 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-size: 60px;
   font-weight: Semi-Bold;
}

.table-schedule__th{
   /* width: 140%;
   height: 50px; */
   width: 12.5%;
   height: 50px;
   background-color: #FFECFF;
   border-radius: 20px;
   margin-left: 5px;
   margin-bottom: 5px;
}

.table-schedule__td{
   width: 12.5%;
   height: 100px;
   background-color: #FFECFF;
   border-radius: 20px;
   /* transform: translate(-100%, 0px);
   overflow: visible; */
}

.table-schedule__timemark{
   width: 1%;
   height: 50px;
   background-color: #FFECFF;
   border-radius: 20px;
   /* transform: translate(-150px, 0px); */
}

.one{
   width: 100%;
   height: 50px;
   background-color: #FFECFF;
   border-radius: 20px;
   display: flex;
   justify-content: center;
    align-items: center;
}

.two {
   background-color: #DAD8D8;
   width: 100%;
   height: 100%;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: left;
}

.two__subject, .two__name{
   text-align: left;
   padding-left: 15%;
   padding-right: 15%;
}

.two__name{
   font-size: 12px;
   font-family: Bellota Text;
}

.two__subject{
   font-size: 16px;
   font-weight: normal;
   margin-bottom: 6px;
}

.two__name img{
   transform: translate(0, 20%);
   padding-right: 3%;
}

.two.full{
   background-color: #FFD6FE;
}

.newWeek{
   display: flex;
   align-items: center;
   margin-left: 65px;
   background-color: transparent;
   border: none;
   margin-top: 6%;
}

.newWeek span{
   font-size: 16px;
   font-weight: Light;
   margin-right: 13px;
}

.newWeek img{
   margin-right: 13px;
}

.mirrorY{
   transform: scale(-1, 1);
}

.hidden{
   opacity: 0;
}

.hidden__table{
   display: none !important;
}

.hidden__unabled{
   display: block;
}

#new-container{
   display: flex;
   flex-direction: column;
}

#select_cont{
   display: flex;
   justify-content: center;
   padding-top: 20px;
}

@media (max-width: 750px){
   main{margin: 0 !important;}
}

select {
   display: inline-block;
   width: 65%;
   padding: 10px;
   font-size: 14px;
   border: 1px solid #ccc;
   border-radius: 4px;
   background-color: white;
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTYuNTkgOC41OUwxMiAxMy4xNyA3LjQxIDguNTkgNiAxMGw2IDYgNi02eiIvPjxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=");
   background-repeat: no-repeat;
   background-position: right 10px center;
   cursor: pointer;
}

/* Убираем стрелку для IE */
select::-ms-expand {
   display: none;
}