body {
   --swiper-navigation-size: 76px;
}

.swiper {
   width: auto;
   height: fit-content;
   margin-bottom: 180px;
}

.swiper-slide {
   width: 70% !important;
}

.swiper-slide figure {
   display: flex;
   justify-content: center;
}

.swiper-slide figure figcaption {
   margin-left: 20px;
}

.swiper-slide figure img {
   max-width: 50%;
   width: min-content;
   height: max-content;
}

.swiper-button-prev {
   left: 75% !important;
   top: 75%;
}

.swiper-button-next {
   right: 15% !important;
   top: 75%;
}

.after_h1 {
   margin-bottom: 100px;
}

figcaption p {
   font-family: Bellota Text;
   font-size: 16px;
   line-height: 26px;
}

.swiper-button-next, .swiper-button-prev {
   background: linear-gradient(0deg, rgba(31,125,234,1) 0%, rgba(195,32,193,1) 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

@media (max-width: 1000px) {
   .swiper-wrapper {
      display: flex;
      flex-direction: column;
   }
   .swiper-slide {
      width: 100% !important;
      height: auto;
      flex: 0 0 auto;
   }
   .swiper-slide figure {
      flex-direction: column;
   }
   .swiper-slide figure img {
      width: 100%;
   }
   #slide1 {
      order: 0;
   }
   .swiper-button-next, .swiper-button-prev {
      display: none !important;
   }
}
